<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="https://www.linkedin.com/in/andrey-lemos-krauthein-alves-4653ba210/">
            Andrey Lemos
        </a>
    
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/AndreyKrauthein?tab=repositories">GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>