<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <div style="margin-top: 20%; margin-left: 39%;">
        <button type="button" class="btn btn-success" style="width: 250px; height: 100px; font-size: 40px;"><a href="/" style="text-decoration: none; color: white;">FINALIZAR</a></button>
    </div>
</body>
</html>
