<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <h1 style="margin-top: 10px;">PASSO 1</h1>
    <div style="text-align: center;">
        <p>Eu sou um(a) ótimo(a) Desenvolvedor(a)
        </p>
    </div>
    <div style="margin-top: 20%; margin-left: 42%;">
        <button type="button" class="btn btn-success" style="width: 200px; height: 100px; font-size: 40px;"><a href="/step/2" style="text-decoration: none; color: white;">PRÓXIMO</a></button>
    </div>
</body>
</html>

<style>
    h1, p{
        text-align: center;
    }
</style>