<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>
    <h1 style="margin-top: 10px;">PASSO 5</h1>
    <div style="text-align: center;">
        <abbr title="Andrey Lemos Krauthein Alves" style="margin-top: 30px; text-decoration: none;">Eu sou um(a) ótimo(a) Desenvolvedor(a)</abbr>
    </div>
    <div style="text-align: center;">
        <img src="/assets/download.png" style="width: 250px; height: 350px;">
    </div>
    <hr>
    <div style="text-align: center;">
        <button class="btn btn-primary"><a href="http://marneicardoso.com" target="_blank" style="text-decoration: none; color: black;">SITE MARNEI</a></button>
    </div>
    <div style="text-align: center;">
        <abbr title="Site do Prof. Marnei Cardoso" style="margin-top: 30px; text-decoration: none;"><a href="http://marneicardoso.com" target="_blank"><img src="/assets/download.png" style="height: 25%"></a></abbr>
        
    </div>
    <div style="margin-top: 1%; margin-left: 42%;">
        <button type="button" class="btn btn-success" style="width: 200px; height: 100px; font-size: 40px;"><a href="/finish" style="text-decoration: none; color: white;">PRÓXIMO</a></button>
    </div>
</body>
</html>

<style>
    h1, p{
        text-align: center;
    }
</style>